{% extends "master/base.html" %}
{% block content %}
<h1>Login your account</h1>

<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1">
    </div>
    <div class="mb-3"><a href="{%url 'register_page'%}">Don't have any account?</a></div>
    <button type="submit" class="btn btn-primary">LOGIN</button>
</form>
{% endblock content %}
</html>